/*
  Welcome to Compass.
  In this file you should write your main styles. (or centralize your imports)
  Import this file using the following HTML or equivalent:
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" />

@import "compass/css3/border-radius"

// --------- Basic Rules
img
  margin-bottom: 21px
  display: block

body
  background-color: #f2f2f1

// ------------ List styles
ul
  list-style: disc outside none
  margin: 0 0 21px 28px

// ----------- My Rules

#tm_logo
  background: url(/images/chrome/tm_logo.png) 0 0 no-repeat
  height: 35px
  width: 61px
  text-indent: -999999px
  float: right
  clear: both
  margin-bottom: 21px
  margin-top: 21px

#secret_header
  display: table
  height: 21px
  clear: both

ul#nav
  list-style: none outside none
  margin: 0 0 21px 0
#nav li
  text-align: right
  margin-bottom: 0
  a
    font-weight: bold
    display: block
    color: #555555
    text-decoration: none
    padding: 7px
    @include border-radius(4px)
  a:hover
    color: #db1750
    background-color: #DBDBDB
  .active
    background-color: #DBDBDB
    color: #232323

.sidebar
  p
    text-align: right
    font-size: 12px
    line-height: 14px

.reviews
  background: url(/images/icons/review.png) 0 0 no-repeat
  height: 42px
  padding-left: 54px
  padding-top: 9px
  margin-top: 21px

blockquote
  overflow: hidden
  margin-bottom: 21px

ul.review-list
  list-style: none
  margin: 0
  overflow: hidden
  margin-bottom: 21px
  li
    margin-bottom: 21px
    p
      font-size: 12px
      line-height: 14px
      margin-bottom: 0
    b
      font-weight: bold
      clear: both
      margin-bottom: 14px
      display: inline-block
    img
      float: left
      margin-right: 14px
      margin-bottom: 0


// ----------- Text
h1
  font-size: 36px
  line-height: 42px

h1, h2, h3, h4, h5
  font-family: helvetica, arial, sans-serif
  font-weight: bold

h2
  font-size: 24px
  line-height: 28px

h3
  font-size: 22px
  line-height: 21px


h4
  font-size: 16px
  margin-bottom: 7px
  line-height: 21px

// ----------- Post Styles
.post-content
  margin-bottom: 21px
  margin-top: 14px
.post-details
  font-size: 10px
  margin-bottom: 14px
  line-height: 14px
  color: #545454

// ------------ Link styles
a:hover
  color: #db1750
  text-decoration: none
a:active
  color: #801736
// --------- Post Listing

.post-listing
  margin-bottom: 21px
  p
    margin-bottom: 0
  a
    font-size: 18px
    font-weight: bold
    line-height: 21px

// ------------ Blog Posts

.post
  margin-bottom: 21px
.divider
  background: transparent url(/images/chrome/divider.png) top center no-repeat
  height: 14px
  margin: 21px 0

.manycols
  clear: left

// ----------- The box
.box
  background: #dbdbdb
  @include border-radius(4px)
  p
    padding: 14px 21px
a.linkbox
  display: block
  padding: 14px 47px
  background: #dbdbdb url(/images/chrome/out.png) 14px 13px no-repeat
  @include border-radius(4px)
  margin-bottom: 21px
  text-decoration: none
a.linkbox:hover
  background: #db1750 url(/images/chrome/out.png) 14px 13px no-repeat
  color: #232323

.showcase img
  margin: 0
  float: left

// ------------ Media Styles
@media only screen and (min-width: 480px) and (max-width: 767px)
  .sidebar
    display: none
  #nav li a
    text-align: left
  #tm_logo
    float: left
  .deck_container
    width: 300px
  #tmhero
    display: none

@media only screen and (max-width: 479px)
  .sidebar
    display: none
  #nav li a
    text-align: left
  #tm_logo
    float: left
  .deck_container
    width: 300px
  #tmhero
    display: none
