---
layout: big
title: Showcase
author: Steve Berry
meta: The best work of Thought Merchants.
---

<script type="text/javascript">
 document.getElementById("ux").setAttribute("class","active");
</script>

<div class="twelve columns" id="secret_header"></div>

<h1>User Experience Design</h1>

<div class="twelve columns showcase">
  <div class="mosaic-block bar">
    <a href="http://buildinternet.com/project/mosaic" class="mosaic-overlay">
      <div class="overlay-details">
        <h4>Simulchart</h4>
        <p>Ze internet money</p>
      </div>
    </a>
    <div class="mosaic-backdrop"><img src="/images/showcase/simulchart.jpg" alt="Simulchart" class="scale-with-grid-size"/></div>
  </div>


  <img src="/images/showcase/5-call.jpg" alt="callme hq" class="scale-with-grid-size"/>
  <img src="/images/showcase/enjyn.jpg" alt="Simulchart" class="scale-with-grid-size"/>
  <img src="/images/showcase/fizzlaw.jpg" alt="callme hq" class="scale-with-grid-size"/>
  <img src="/images/showcase/pwf.jpg" alt="callme hq" class="scale-with-grid-size"/>




</div>


{% if page.title == 'Thought Merchants' %}
  {{ page.title }}
{% else %}
  {{ page.title | append:' &#8212; Thought Merchants' }}
{% endif %}

{% for post in site.categories.ux %}
<div class="one-third column {% cycle 'alpha manycols', 'omega' %} ">
  <div class="post-listing">
    <a href="{{ post.url }}">
    <img src="{{ post.image }}" alt="{{ post.title }}" class="scale-with-grid"/>
    {{ post.title | xml_escape }}</a>
    <p>{{ post.meta }}</p>
    <div class="post-details">{{ post.date | date_to_string }}</div>
  </div>
</div>
{% endfor %}