/* line 4, ../sass/screen.sass */
img {
  margin-bottom: 21px;
  display: block;
}

/* line 8, ../sass/screen.sass */
body {
  background-color: #f2f2f1;
  font-family: helvetica, arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
}

/* line 16, ../sass/screen.sass */
ul {
  list-style: disc outside none;
  margin: 0 0 21px 28px;
}

/* line 22, ../sass/screen.sass */
#tm_logo {
  background: url(/images/chrome/tm_logo.png) 0 0 no-repeat;
  height: 35px;
  width: 61px;
  text-indent: -999999px;
  float: right;
  clear: both;
  margin-bottom: 21px;
  margin-top: 21px;
}

/* line 32, ../sass/screen.sass */
#secret_header {
  display: table;
  height: 21px;
  clear: both;
}

/* line 37, ../sass/screen.sass */
ul#nav {
  list-style: none outside none;
  margin: 0 0 21px 0;
}

/* line 40, ../sass/screen.sass */
#nav li {
  text-align: right;
  margin-bottom: 0;
}
/* line 43, ../sass/screen.sass */
#nav li a {
  font-weight: bold;
  display: block;
  color: #db1750;
  text-decoration: none;
  padding: 7px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 50, ../sass/screen.sass */
#nav li a:hover {
  color: #db1750;
  background-color: #dbdbdb;
}
/* line 53, ../sass/screen.sass */
#nav li .active {
  background-color: #dbdbdb;
  color: #db1750;
}

/* line 58, ../sass/screen.sass */
.sidebar p {
  text-align: right;
  font-size: 12px;
  line-height: 14px;
}

/* line 63, ../sass/screen.sass */
.reviews {
  background: url(/images/icons/review.png) 0 0 no-repeat;
  height: 42px;
  padding-left: 54px;
  padding-top: 9px;
  margin-top: 21px;
}

/* line 70, ../sass/screen.sass */
blockquote {
  overflow: hidden;
  margin-bottom: 21px;
}

/* line 74, ../sass/screen.sass */
ul.review-list {
  list-style: none;
  margin: 0;
  overflow: hidden;
  margin-bottom: 21px;
}
/* line 79, ../sass/screen.sass */
ul.review-list li {
  margin-bottom: 21px;
}
/* line 81, ../sass/screen.sass */
ul.review-list li p {
  font-size: 12px;
  line-height: 14px;
  margin-bottom: 0;
}
/* line 85, ../sass/screen.sass */
ul.review-list li b {
  font-weight: bold;
  clear: both;
  margin-bottom: 14px;
  display: inline-block;
}
/* line 90, ../sass/screen.sass */
ul.review-list li img {
  float: left;
  margin-right: 14px;
  margin-bottom: 0;
}

/* line 97, ../sass/screen.sass */
h1 {
  font-size: 36px;
  line-height: 42px;
}

/* line 101, ../sass/screen.sass */
h1, h2, h3, h4, h5 {
  font-family: helvetica, arial, sans-serif;
  font-weight: bold;
}

/* line 105, ../sass/screen.sass */
h2 {
  font-size: 24px;
  line-height: 28px;
}

/* line 109, ../sass/screen.sass */
h3 {
  font-size: 22px;
  line-height: 21px;
}

/* line 114, ../sass/screen.sass */
h4 {
  font-size: 16px;
  margin-bottom: 7px;
  line-height: 21px;
}

/* line 120, ../sass/screen.sass */
.post-content {
  margin-bottom: 21px;
  margin-top: 14px;
}

/* line 123, ../sass/screen.sass */
.post-details {
  font-size: 10px;
  margin-bottom: 14px;
  line-height: 14px;
  color: #545454;
}

/* line 130, ../sass/screen.sass */
a:hover {
  color: #db1750;
  text-decoration: none;
}

/* line 133, ../sass/screen.sass */
a:active {
  color: #801736;
}

/* line 137, ../sass/screen.sass */
.post-listing {
  margin-bottom: 21px;
}
/* line 139, ../sass/screen.sass */
.post-listing p {
  margin-bottom: 0;
}
/* line 141, ../sass/screen.sass */
.post-listing a {
  font-size: 18px;
  font-weight: bold;
  line-height: 21px;
}

/* line 148, ../sass/screen.sass */
.post {
  margin-bottom: 21px;
}

/* line 150, ../sass/screen.sass */
.divider {
  background: transparent url(/images/chrome/divider.png) top center no-repeat;
  height: 14px;
  margin: 21px 0;
}

/* line 155, ../sass/screen.sass */
.manycols {
  clear: left;
}

/* line 159, ../sass/screen.sass */
.box {
  background: #dbdbdb;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}
/* line 162, ../sass/screen.sass */
.box p {
  padding: 14px 21px;
}

/* line 164, ../sass/screen.sass */
a.linkbox {
  display: block;
  padding: 14px 47px;
  background: #dbdbdb url(/images/chrome/out.png) 14px 13px no-repeat;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -ms-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 21px;
  text-decoration: none;
}

/* line 171, ../sass/screen.sass */
a.linkbox:hover {
  background: #db1750 url(/images/chrome/out.png) 14px 13px no-repeat;
  color: #232323;
}

/* line 175, ../sass/screen.sass */
.showcase img {
  margin: 0;
  float: left;
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  /* line 181, ../sass/screen.sass */
  .sidebar {
    display: none;
  }

  /* line 183, ../sass/screen.sass */
  #nav li a {
    text-align: left;
  }

  /* line 185, ../sass/screen.sass */
  #tm_logo {
    float: left;
  }

  /* line 187, ../sass/screen.sass */
  .deck_container {
    width: 300px;
  }

  /* line 189, ../sass/screen.sass */
  #tmhero {
    display: none;
  }
}
@media only screen and (max-width: 479px) {
  /* line 193, ../sass/screen.sass */
  .sidebar {
    display: none;
  }

  /* line 195, ../sass/screen.sass */
  #nav li a {
    text-align: left;
  }

  /* line 197, ../sass/screen.sass */
  #tm_logo {
    float: left;
  }

  /* line 199, ../sass/screen.sass */
  .deck_container {
    width: 300px;
  }

  /* line 201, ../sass/screen.sass */
  #tmhero {
    display: none;
  }
}
