{% include heading.html %}

<script type="text/javascript">
  document.getElementById("guidelines").setAttribute("class","active");
</script>

<div class='content'>
    <div class='container'>
      <div class="grid_35 main">
        <h1>Guidelines for experiences</h1>
        <h2>A quick pro-tip to get you in the right mindset.</h2>
        <img src="/images/guidelines/wires.jpg" alt="Best practices guidelines">
      </div>
      {% for post in site.categories.guidelines %}
      {% include post_template.html %}
      {% endfor %}
    </div>
  </div>

{% include footer.html %}