---
layout: big
---

<div class='post'>
  <h1>{{ page.title }}</h1>
  <div class="clearfix"></div>
  <div class="post-content">{{ content }}</div>
  <div class='post-details'>
    Created {{ page.date | date_to_string }} by {{ page.author }}.
    <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal" data-via="thoughtmerchant">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
    <script>(function(d){
      var js, id = 'facebook-jssdk'; if (d.getElementById(id)) {return;}
      js = d.createElement('script'); js.id = id; js.async = true;
      js.src = "//connect.facebook.net/en_US/all.js#appId=215866411801913&xfbml=1";
      d.getElementsByTagName('head')[0].appendChild(js);
    }(document));</script>
    <div class="fb-like" data-send="false" data-layout="button_count" data-width="450" data-show-faces="true"></div>
  </div>
</div>

